:root { 
    font-size: 1.35rem;
    color: hsla(0, 0%, 0%, 95%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    Utility Classes 
*/
.text {
    font-size: 1rem;
}
.body-text,
footer {
    padding: 2rem;
}
.hidden {
    opacity: 0;
}

#quote {
    width: 768px;
    max-width: 100%;
    margin-top: 2em;
    transition: 0.25s opacity;
}

section,
header {
    height: 90vh;
    background-attachment: scroll;
    background-size: cover;
}
header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
    video {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        object-fit: cover;
        z-index: -1;

        filter: brightness(50%);
    }

    color: white;
    h1 {
        font-size: 8rem;
        text-shadow: 4px 4px 2px 2px hsla(0, 0%, 0%, 25%);
        span {
            font-size: 1.65rem;
        }
    }
}
section {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;

    background-color: hsl(0, 0%, 95%);

    .tiles,
    .body-text {
        width: 50%;
        height: 100%;
        min-width: 540px;
        flex-basis: auto;
    }
    #music {
       /* background-image: url(); */
    }
    #threedee-art {

    }
    &:nth-child(even) .tiles {
        // Make the positions switch every iteration
        order: -1;
    }
}
.tiles {
    display: grid;
    grid-template-rows: repeat(3, 1fr);   
    grid-template-columns: repeat(3, 1fr);  
}
.tile {
    width: 100%; height: 100%;
    place-self: stretch;
    object-fit: cover;
    &[src=""] {
        display: none;
    }
}


footer {
    text-align: center;
    ul {
        li {
            &:not(:first-child)::before {
                content: "\025AA\02009";
            }
            display: inline;
        }
    }
    hr {
        margin: 0.5em 0;
    }
}