:root {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  font-family: sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
body {
  background-color: hsl(0, 0%, 98%);
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}
a:link {
  color: hsl(219, 79%, 66%);
}
a:visited {
  color: hsl(256, 79%, 66%);
}
a:hover {
  color: hsl(241, 79%, 60%);
}
a:active {
  color: hsl(241, 41%, 50%);
}
h1 {
  font-size: 2.5em;
  text-shadow: 4px 4px 4px hsla(0,0%,0%,0.3);
  color: hsla(0,0%,0%,0.9);
}
h2 {
  font-size: 1.5em;
  line-height: 250%;
  color: hsla(0,0%,0%,0.85);
}
h3 {
  font-size: 1.25em;
  line-height: 200%;
  color: hsla(0,0%,0%,0.8);
}
p {
  line-height: 150%;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: hsla(0,0%,0%,0.7);
}
h2, h3, .first-name, .last-name, .nav-btn {
  font-family: 'Montserrat', sans-serif;
}
h2, .nav-btn {
  font-weight: 300;
}

/* Header */

header {
  border-image-source: radial-gradient(#6495ed 70%, transparent 95%);
  border-image-slice: 1;
  border-image-repeat: stretch;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 1em;
}
model-viewer, h1 {
  display: inline-block;
}
model-viewer {
  height: 5rem;
  width: 5rem;
  --poster-color: transparent;
}
.first-name, .last-name {
  font-weight: 100;
  opacity: 0;
  animation: slide 1s ease 0.1s 1 normal forwards;
}
.last-name {
  animation-delay: 0.3s;
}
@keyframes slide {
  0% {
    opacity: 0;
    margin-left: -70%;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

/* Nav */

nav {
  margin-top: 1ch;
}
.nav-link {
  text-decoration: none;
}
.nav-btn {
  padding: 0.3em 0.7em;
  margin: 1px 0;
  text-align: left;
  font-size: 1em;
  border-width: 1px;
  border-style: solid;
  transition: 0.2s background-color;
  background-color: hsl(0, 0%, 100%, 0.9);
  color:hsla(0, 0%, 0%, 0.7);
}
.nav-btn:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 100%, 0.5);
}
.about-btn { border-color: cornflowerblue; }
.resume-btn { border-color: indianred; }
.contact-btn { border-color: plum; }
.github-btn { border-color: green; }
.linkedin-btn { border-color: blue; }
.twitter-btn { border-color: rgb(0, 162, 255); } 
.instagram-btn { border-color: blueviolet; }

i.nav-icon[class^='gg-'] {
  display: inline-block;
  margin-right: 0.75ch;
  vertical-align: -5%;
}


/* Main */
.projects-header {
  text-indent: 0.75em;
}
main.links {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.link {
  width: 33%;
  max-width: 256px;
  padding: 16px;
  text-decoration: none;
}
.link-icon {
  width: 100%;
  max-height: 50%;
}
.link-label,
.link-description {
  margin: 0 auto;
}

.link-label {
  width: min-content;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.link-description {
  max-width: 90%;
  font-weight: 100;
  font-size: 0.9em;
}
@media screen and (max-width: 768px) and (orientation: portrait) {
  model-viewer {
    display: none;
  }
  .projects-header::after {
    content: " \02192";
  }
  main.links {
    position: relative;
    max-height: 66vh;
    overflow-x: scroll;
    background: no-repeat center/cover linear-gradient(to bottom, transparent, hsla(0, 0%, 0%, 0.03), transparent);
    flex-wrap: nowrap;
  }
  .link {
    flex-shrink: 0;
    width: 90%; height: 100%;
    padding-bottom: 1.5em;
  }
  .link:first-of-type {
    margin-left: 15%;
  }
  .link:last-of-type {
    margin-right: 15%;
  }
  #about {
    padding: 5vw;
  }
}