.nav-btn {
    display: block;
    width: 50%;
    
}

main.links {
    position: relative;
    max-height: 66vh;
	overflow-x: scroll;
    background: no-repeat center/cover linear-gradient(to bottom, transparent, hsla(0, 0%, 0%, 0.03), transparent);
    flex-wrap: nowrap;
}
.link {
    flex-shrink: 0;
    width: 70%; height: 100%;
    padding-bottom: 1.5em;
}
.link:first-of-type {
    margin-left: 15%;
}