<title>Sean Samarov | Software Developer, Musician, Artist</title>
<meta name="title" content="Sean Samarov | Software Developer, Musician, Artist">
<meta name="description" content="Sean Samarov is a software developer, system engineer, and classically-trained musician. He specializes in lean frontend development, 3D web experiences, UX design, cloud infrastructure, and metal singing.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://samarov.me">
<meta property="og:title" content="Sean Samarov | Software Developer, Musician, Artist">
<meta property="og:description" content="Sean Samarov is a software developer, system engineer, and classically-trained musician. He specializes in lean frontend development, 3D web experiences, UX design, cloud infrastructure, and metal singing.">
<meta property="og:image" content="/GasMaskGuitar.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://samarov.me">
<meta property="twitter:title" content="Sean Samarov | Software Developer, Musician, Artist">
<meta property="twitter:description" content="Sean Samarov is a software developer, system engineer, and classically-trained musician. He specializes in lean frontend development, 3D web experiences, UX design, cloud infrastructure, and metal singing.">
<meta property="twitter:image" content="/GasMaskGuitar.jpg">

<!-- Optional Meta Tags -->
<meta name="keywords" content="web developer, developer, 3D, webgl, threejs, freelance, rock, metal, singer, guitar, producer">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="language" content="English">
<meta name="revisit-after" content="30 days">
<meta name="author" content="Sean Samarov">