@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ug4did');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ug4did#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ug4did') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ug4did') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ug4did##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-music1 {
  &:before {
    content: $icon-music1; 
  }
}
.icon-gamepad {
  &:before {
    content: $icon-gamepad; 
  }
}
.icon-terminal1 {
  &:before {
    content: $icon-terminal1; 
  }
}
.icon-file-code-o {
  &:before {
    content: $icon-file-code-o; 
  }
}
.icon-paint-brush {
  &:before {
    content: $icon-paint-brush; 
  }
}
.icon-gamepad1 {
  &:before {
    content: $icon-gamepad1; 
  }
}

