$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-music1: unquote('"\\f001"');
$icon-gamepad: unquote('"\\f11b"');
$icon-terminal1: unquote('"\\f120"');
$icon-file-code-o: unquote('"\\f1c9"');
$icon-paint-brush: unquote('"\\f1fc"');
$icon-gamepad1: unquote('"\\e900"');

