body {
  background-image: linear-gradient(to bottom left, hsla(219, 100%, 33%, 0.2), hsla(275, 100%, 33%, 0.3));
}
header {
  background-image: url("/Beach.jpg?w=1080") ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
header,
#art,
#portfolio {
  box-shadow: hsla(0, 0%, 0%, 0.3) 0 0 32px;
}

//region Projects Filter
#websites:target ~ .project:not([data-project-tags*="website"]) { display: none; }
#games:target ~ .project:not([data-project-tags*="game"]) { display: none; }
#infrastructure:target ~ .project:not([data-project-tags*="infrastructure"]) { display: none; }
#threedee:target ~ .project:not([data-project-tags*="3D"]) { display: none; }

// More granular filters
#design:target ~ .project:not([data-project-tags*="design"]) { display: none; }
#frontend:target ~ .project:not([data-project-tags*="frontend"]) { display: none; }
#fullstack:target ~ .project:not([data-project-tags*="fullstack"]) { display: none; }
#ux:target ~ .project:not([data-project-tags*="ux"]) { display: none; }
#seo:target ~ .project:not([data-project-tags*="seo"]) { display: none; }
#threedee:target ~ .project:not([data-project-tags*="3D"]) { display: none; }
//endregion

#project-filters {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 1ch;
}

#art {
  display: flex;
  flex-flow: row wrap;
  .back {
    display: none;
    position: fixed;
    top: 1rem; right: 1rem;

    font-size: 2rem;
    width: 2rem; height: 2rem;
    line-height: 2rem;

    text-decoration: 0;
    text-align: center;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 10;
    transition: color 0.25s, background-color 0.25s;
    &:hover {
      color: black;
      background-color: white;
    }
  }
  &:has(:target) {
    .back {
      display: block;
    }
  }
  // Art grid adaptation
  .project.overlay {
    position: relative;
    flex-grow: 1;
    width: 480px;
    flex-basis: 480px;
    max-width: 100%;
    height: 512px;
    .project-preview {
      float: none;
      object-fit: cover;
      margin: 0;
      box-shadow: hsla(0, 0%, 0%, 0.5) 0 0 1vmax 5vmax;
      &:target {
        position: fixed;
        width: 90vw;
        height: 90vh;
        top: 5vh;
        left: 5vw;
        z-index: 9;
      }
    }
    .project-preview,
    .project-info {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
    .project-info {
      opacity: 0;
      transition: opacity 0.25s;
      margin: 0;
      padding: 5vmin;
      z-index: 1;
    }
    &:hover {
      .project-info {
        opacity: 1;
      }
    }
  }
}