body {
  background-image: linear-gradient(to bottom left, hsla(219, 100%, 33%, 0.16), hsla(275, 100%, 33%, 0.16));
}
header {
  background-image: url("/Render7.png") ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}