/*
 * Defaults for the website. This file is included on every page, following the reset.
 * It's essentially a visual theme for the website. THis will be useful for writing a blog.
 * Provides utility classes as well for reuse
 */

//region Variables and Mixins
$padding: 5vmin;
$darken: hsla(0, 0%, 0%, 0.33);
$background: hsl(256, 100%, 3%);

@mixin shadow-box {
  background-color: $darken;
  border: 1px solid white;
  margin: 1rem 0;
}
//endregion

:root {
  font-size: calc(8px + 2vmin);

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: white;
}
body {
  height: auto;
  background-color: $background;
  padding: 5vmin 10vmin;
}
main {
  padding: 5vmin 0;
}

//region Headers and Text

h1,h2,h3,h4,h5,h6 {
  line-height: 100%;
  font-weight: 300;
  margin: 1ch 0;
}
h1 {
   font-size: 4rem;
  .mini-text {
    position: relative;
    left: 0.75ch;
    font-size: 0.2em;
    display: block;
  }
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {}
h5 {}
h6 {}

small, .small {
  font-size: 0.66rem;
}

//endregion

button {
  @include shadow-box;
  padding: 1ch 1.5ch;
  font-size: 1rem;
  color: white;
  margin: 1rem 0;

  transition: all 0.25s;
  &:hover {
    cursor: pointer;
    color: black;
    background-color: rgba(255, 255, 255, 0.88);
    border: 1px solid black;
  }
}
hr {
  color: white;
  margin: 1rem 0;
}
//region Header and Navigation
header {
  width: 100%;
  min-height: 88vh;
  padding: 20vmin $padding $padding;

  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
  align-items: flex-start;

  p, .hero-text, nav { // Hero text
    max-width: 36rem;
  }
}

//endregion
//region Scroll Snapping
.scroll-snap-parent {
  overflow: scroll;
  justify-content: space-between;
  scroll-snap-type: both mandatory;
  overscroll-behavior-x: contain;
  padding-top: 0.25ch;
}
.scroll-snap-target {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
//endregion

//region Portfolio Items Cards
#portfolio {
  height: 80vh;
}
.project.overlay {
  position: relative;
  .project-preview {
    float: none;
    z-index: -999;
  }
  .project-preview,
  .project-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .project-info {
    @include shadow-box;
    opacity: 0;
    transition: opacity 0.25s;
  }
  &:hover {
    .project-info {
      opacity: 1;
    }
  }
}
.project {
  max-height: 78vh;
  width: 100%;
  padding: $padding;
  overflow: scroll;
  @include shadow-box;


  &-info {
    position: sticky;
    top: 0;
  }
  &-title h3 {
    margin-top: 0;
  }
  &-preview {
    width: 55%;
    height: auto;
    float: right;
    margin-left: 2rem;
    object-fit: cover;
    box-shadow: hsla(0,0%,0%, 0.33) -8px 8px;
  }
  &-date {
    display: block;
    margin-bottom: 0.5ch;
  }
  &-description {
    grid-area: description;
    align-self: end;
  }
  &-points {
    grid-area: points;

    list-style-type: circle;
    padding-left: 1ch;
  }
  @media (max-width: 1080px) {
    &-preview {
      width: 100%;
      height: 20vh;
      object-position: top center;
      float: none;
      margin: 0;
    }
    &-info {
      margin-top: 1ch;
    }
  }
}

//endregion



//region Footer
footer {
  nav {
    display: flex;
    flex-flow: row wrap;

  }
}
//endregion