body {
  background: black;
}
.background {
  position: absolute;
  top: 0;  left: 0;
  width: 100vw; height: auto;

  z-index: -99;
  opacity: 0.5;

  &-item {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: left top;
    mask-image: linear-gradient(to bottom, hsla(0,0%,0%,0%) 0%, hsla(0,0%,0%,100%) 10%, hsla(0,0%,0%,100%) 90%, hsla(0,0%,0%,0%) 100%);
  }
}

.release-list {
  flex-flow: wrap;
  gap: 1em;
  margin-top: 1em;
  display: flex;
  & > iframe {
    flex: 360px;
  }
}